<p-menubar [model]="items" styleClass="navbar">
  <ng-template pTemplate="start">
    <div id="photo" style="text-align: center">
      <span style="vertical-align:middle; padding-left: 50px; font-weight: bold; font-size: large;">Expense Tracker</span>
      <img style="vertical-align:middle" src="https://img.icons8.com/clouds/100/000000/money.png" height="40" class="logo">
    </div>

  </ng-template>
  <!-- <ng-template pTemplate="end">
    <button pButton label="Logout" icon="fa-sign-out"></button>
  </ng-template> -->
</p-menubar>
