.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  width: 400px;
  margin: 20px 0px;
  padding: 20px 50px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formContainer {
  margin-top: 30px;
  word-wrap: normal;
}

.signupTextContainer {
  margin: 10px 0;
  text-align: center;
  text-decoration: underline;
  a {
    color: hsl(217, 47%, 60%);
  }
}

.fieldError{
  padding:5px 0;
  font-size: 0.8em;
  color:red;
}
