<div class="container">
  <div class="p-mt-6 loginContainer">
    <div style="text-align:center">
      <img src="https://img.icons8.com/clouds/100/000000/money.png" height="50%" class="logo">
      <div class="p-text-bold"> Welcome to ExpensesTracker</div>
    </div>
    <div class="p-fluid formContainer">
      <div class="p-field">
        <label for="username">Username</label>
        <input id="username" type="text" pInputText>
      </div>
      <div class="p-field">
        <label for="password">Password</label>
        <input id="password" type="password" pInputText>
      </div>
      <div class="p-field">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" type="password" pInputText>
      </div>
      <div class="p-field">
        <p-button label="Sign Up"> </p-button>
      </div>
    </div>
  </div>
</div>
