.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  margin: 20px 0px;
  padding: 20px 50px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formContainer {
  margin-top: 20px;
}

.fieldError{
  padding:5px 0;
  font-size: 0.8em;
  color:red;
}
