<div class="container">
  <p-card class="title">
    <div class="p-text-bold">Overview</div>
  </p-card>
  <p-card class="p-my-2">
    <app-doughnut></app-doughnut>
  </p-card>
  <p-card class="p-my-2">
    
    <div *ngIf="default">
      <app-bar></app-bar>
    </div>
    <div *ngIf="!default">
    <app-line></app-line>
    </div>
    <p-selectButton [options]="stateOptions" [(ngModel)]="default" optionLabel="label" optionValue="value" (onChange)= "onChange($event)"></p-selectButton>
  </p-card>
</div>
