<div class="p-grid">
  <div class="p-col"></div>
  <div class="p-col-10">
    <div class="p-mt-4">
      <p-card styleClass="expenseContainer">
        <h3>Total Expenses: </h3>
        <span class="expenseText">RM {{expense}}</span>
      </p-card>
    </div>
    <div class="p-my-3">
      <button pButton class="p-button-secondary" type="button" label="Add New Expense" icon="pi pi-plus"></button>
    </div>
    <br>
    <p-card>
      <div class="p-text-bold">Expenses History: </div>
    </p-card>
  </div>
  <div class="p-col"></div>
</div>
